.c-mobile-nav-icon {
  background: rgba($color-1, 0.5);
  padding: 1rem;
  right: 0;
  top: 0;

  i {
    color: $white;
  }
}

.c-header {
  display: none;

  @include breakpoint(md) {
    display: block;
    position: relative;
    padding: $padding-default * 1.5 0;
    background: mix($white, $color-2, 90%);
    //border-bottom: 3px solid rgba($color-2, 0.9);

    &--floating {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 99;
      background: rgba(mix($white, $color-2, 75%), 0.8);
    }

    &__wrapper {
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: $padding-default * 3;
      max-width: $max-width;
      padding: 0 2rem;
    }

    &__logo {
      img {
        height: 3.5rem;
        width: auto;
      }
    }

    &__navigation {
      text-align: right;
      align-self: end;
    }
  }
}

.c-header-nav-primary {
  display: none;

  @include breakpoint(md) {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 1rem;
      padding: 0;

      &:hover,
      &.current-menu-item {
        a {
          color: $color-2;
          padding-bottom: 0.5rem;
          border-bottom: 2px solid $color-2;
        }
      }

      a {
        @include font($font-2);
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-1;
        line-height: 1;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid rgba($white, 1);
      }
    }
  }
}

.c-contact {
  background: mix($white, $color-1, 90%);
  padding-bottom: $padding-default * 3;

  &__container {
    display: grid;
    grid-template-rows: auto;

    @include breakpoint(md) {
      grid-template-columns: 60% auto;
      grid-column-gap: $padding-default * 3;
    }
  }

  &__form {
    .o-content {
      position: relative;
      margin-top: -2rem;
      background: $white;
      padding: $padding-default * 3;

      @include breakpoint(md) {
        margin-top: -3rem;
      }

      h3 {
        @extend .h2, .h2--line;
      }
    }
  }

  &__info {
    padding: $padding-default * 3 0;
  }
}

.c-project-files {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba($black, 0.05);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }

    &-image {
      flex: 0 auto;
    }

    &-content {
      flex: 1;
    }

    &-title {
      margin: 0;
      padding: 0;
    }

    &-actions {
      flex: 0 auto;
      background: yellow;
    }
  }
}

.c-footer-1 {
  background: mix($white, $color-2, 50%);
  &__container {
    @extend .o-row__container;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;

    @include breakpoint(md) {
      grid-template-columns: auto 1fr;
    }
  }

  &__col1 {
    padding: 0.5rem 0;
    text-align: center;

    @include breakpoint(md) {
      text-align: left;
    }
  }

  &__col2 {
    padding: 0.5rem 0;
    text-align: center;

    @include breakpoint(md) {
      text-align: right;
    }
  }
}

.c-footer-nav-menu-1 {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint(md) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item,
  li {
    flex: 0 auto;
    margin: 0 0.75rem;
    padding: 0;

    &.current-menu-item {
      a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }

    &:hover {
      a {
        color: rgba($white, 0.5);
      }
    }

    a {
      @include font($font-2);
      text-decoration: none;
      line-height: 1;
      text-transform: uppercase;
      color: $color-1;

      @include breakpoint(md) {
        font-size: 1.2rem;
      }
    }
  }
}

.c-footer-nav-menu-2 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item,
  li {
    flex: 0 auto;
    margin: 0 0.5rem;
    padding: 0;

    @include breakpoint(md) {
    }

    &.current-menu-item {
      a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }

    &:hover {
      a {
        color: rgba($white, 0.5);
      }
    }

    a {
      text-decoration: none;
      line-height: 1;
      color: $color-1;
      font-size: 0.85em;
    }
  }
}
