body {
  color: $body-color;
}

h1,
.h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: $color-1;

  @include breakpoint(md) {
    font-size: 3.5rem;
  }

  &--line {
    &:after {
      content: "";
      margin: 0.65em 0;
      display: block;
      position: relative;
      background: $color-2;
      height: 2px;
      width: 30%;
      max-width: 6rem;
    }
  }
}

h2,
.h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: $color-1;

  @include breakpoint(md) {
    font-size: 2.65rem;
  }

  &--line {
    &:after {
      content: "";
      margin: 0.65em 0;
      display: block;
      position: relative;
      background: $color-2;
      height: 2px;
      width: 30%;
      max-width: 6rem;
    }
  }
}

h3 {
  @include font($font-2);
  font-weight: normal;
  font-size: 1.65rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: $color-1;

  //   &:after {
  //     content: "";
  //     color: red;
  //     margin: 0.65em 0;
  //     display: block;
  //     position: relative;
  //     background: red;
  //     height: 2px;
  //     width: 30%;
  //   }
}
