.o-grid {
  display: grid;

  &__item {
    background: blue;
  }
}

.o-grid-rows {
  @include breakpoints() {
    display: grid;
    grid-template-rows: auto;
  }
}

.o-grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &--70-30 {
    grid-template-columns: 70% 30%;
  }

  &--gap {
    grid-template-columns: 4rem;
  }

  &__column {
    display: grid;
  }
}

.o-grid-3-columns {
  @include breakpoints() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &--gap {
      grid-column-gap: 4rem;
    }

    &__column {}
  }
}

.o-grid-4-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &--gap {
    grid-column-gap: 2rem;
  }

  &__column {}
}

.o-font-size-medium {
  font-size: 1.1rem;
  line-height: 1.5;
}

.o-content {
  position: relative;
  box-sizing: border-box;
  z-index: 3;

  &--padding {
    padding: $padding-default * 3;
  }

  &--color {
    &-white {
      color: $white;

      * {
        color: inherit;
      }
    }

    &-1 {
      color: $color-1;
    }

    &-2 {
      color: $color-2;
    }
  }

  &--max-width {
    max-width: calc((#{$max-width} / 2));
  }

  &--left {
    //padding-right: 0;
    justify-self: start;
  }

  &--right {
    //padding-left: 0;
    justify-self: end;
  }

  &--text-align-center {
    text-align: center;
    color: pink;
  }
}

.o-background-color-1 {
  background-color: $color-1;

  * {
    color: $white;
  }

  &--medium {
    background-color: mix($white, $color-1, 50%);
  }

  &--light {
    * {
      color: $color-1;
    }

    background-color: mix($white, $color-1, 75%);
  }

  &--extra-light {
    * {
      color: $color-1;
    }

    color: $color-1;
    background-color: mix($white, $color-1, 90%);
  }
}

.o-background-color-2 {
  background-color: $color-2;

  &--medium {
    background-color: mix($white, $color-2, 50%);
  }

  &--light {
    * {
      color: $color-1;
    }

    background-color: mix($white, $color-2, 75%);
  }

  &--extra-light {
    * {
      color: $color-1;
    }

    background-color: mix($white, $color-2, 90%);
  }
}

.o-layer-white {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba($white, 0.5);

  &--light {
    background-color: rgba($white, 0.25);
  }

  &--dark {
    background-color: rgba($white, 0.75);
  }
}

.o-layer-black {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  color: $white;
  background-color: rgba($black, 0.5);

  &--light {
    background-color: rgba($black, 0.25);
  }

  &--dark {
    background-color: rgba($black, 0.75);
  }
}

.o-layer-color-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba($color-1, 0.5);

  &--light {
    background-color: rgba($color-1, 0.25);
  }

  &--dark {
    background-color: rgba($color-1, 0.75);
  }
}

.o-layer-color-2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  color: $white;
  background-color: rgba($color-2, 0.5);

  &--light {
    background-color: rgba($color-2, 0.25);
  }

  &--dark {
    background-color: rgba($color-2, 0.75);
  }
}

.o-background-image {
  z-index: 1;
}

.o-development-block {
  margin: 3rem 0 1rem 0;

  &__container {
    margin: 0 auto;
    max-width: $max-width;
    color: #666;
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__description {}
}

.o-highlight {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

.o-button {
  @extend .c-button;
  border-radius: 0.25rem;

  &--width-100\% {
    width: 100%;
    text-align: center;
  }

  &--small {
    padding: 0.35em 0.65em;
    line-height: 1;
  }

  &--color-1 {
    color: $white;
    background: $color-1;
  }

  &--color-2 {
    color: $white;
    background: $color-2;
  }
}

.o-row--padding-default {
  padding: 3rem 0;

  @include breakpoint(md) {
    padding: 6rem 0;
  }
}

.o-row--padding-default-top {
  padding-top: 3rem;

  @include breakpoint(md) {
    padding-top: 6rem;
  }
}

.o-row--padding-default-bottom {
  padding-bottom: 3rem;

  @include breakpoint(md) {
    padding-bottom: 6rem;
  }
}

.o-row--padding-default-left {
  padding-left: 3rem;

  @include breakpoint(md) {
    padding-left: 6rem;
  }
}

.o-row--padding-default-right {
  padding-right: 3rem;

  @include breakpoint(md) {
    padding-right: 6rem;
  }
}

.o-row--margin-default {
  margin: 2rem 0;

  @include breakpoint(md) {
    margin: 4rem 0;
  }
}

.o-top {
  position: relative;
  top: -$padding-default * 3;
  z-index: 10;
}

.o-bottom {
  position: relative;
  bottom: -$padding-default * 3;
  z-index: 10;
}

.o-layout-1 {
  overflow: hidden;
  display: grid;

  &--image {
    place-content: center;
    height: 40vh;

    @include breakpoint(md) {
      height: 60vh;
    }
  }

  @include breakpoint(md) {
    //height: 50vh;
  }
}

.o-layout-2 {
  $parent: ".o-layout-2";
  display: grid;
  grid-template-rows: auto;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }

  &__image {
    order: 1;
    height: 50vh;

    @include breakpoint(md) {
      order: 2;
      height: initial;
    }
  }

  &__content {
    order: 2;
    display: grid;

    .o-content {
      @include breakpoint(md) {
        max-width: calc(#{$max-width} / 2);
      }
    }

    @include breakpoint(md) {
      order: 1;
    }
  }

  &--reverse {
    #{$parent}__image {
      order: 1;
    }

    #{$parent}__content {
      order: 2;
    }
  }
}

.o-layout-3 {
  position: relative;
  display: grid;
  grid-template-rows: auto;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    height: 50vh;
  }
}

.o-layout-4 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;

  @include breakpoint(md) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    text-align: center;
    display: grid;
  }

  &__image {
    margin-bottom: 1rem;

    img {
      height: 3.5rem;
      width: auto;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    color: $color-1;
  }

  &__subtitle {
    @include font($font-2);
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: $color-2;
  }

  &__content {}

  &__action {}
}

.o-layout-5 {
  position: relative;
  display: grid;
  overflow: hidden;

  @include breakpoint(md) {
    display: block;
    height: 75vh;
  }

  &__image {
    position: relative;
    order: 1;
    height: 75vh;

    @include breakpoint(md) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      //height: 75vh;
      order: initial;
    }
  }

  &__content {
    order: 2;

    .o-content {
      position: relative;
      margin: 0 1.5rem;
      margin-top: -3rem;
      color: $white;
      background: rgba($color-1, 0.9);

      @include breakpoint(md) {
        max-width: $max-width / 2;
        margin: 0;
        top: 6rem;
      }

      h2,
      p {
        color: $white;
      }
    }

    @include breakpoint(md) {
      margin: 0 auto;
      max-width: $max-width;
      z-index: 2;
      order: initial;
    }
  }
}

.o-layout-6 {
  padding-bottom: $padding-default * 5;
  background: $color-1;

  @include breakpoint(md) {
    padding-bottom: $padding-default * 10;
  }

  &__container {
    @include breakpoint(md) {
      min-width: $max-width;
      max-width: 85%;
    }
  }

  .o-content {
    position: relative;
    margin-top: -3rem;
    padding: $padding-default * 2;
    background: $white;

    @include breakpoint(md) {
      padding: $padding-default * 3;
    }
  }

  &__mobile {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        list-style-type: none;
        margin: 0;
        margin-bottom: 2rem;
        padding: 1rem;
        background: mix($white, $color-2, 90%);

        table {
          border: 0;
          width: 100%;

          tr {

            th,
            td {
              padding: 0.25rem 0;
              border: 0;
              border-bottom: 1px solid rgba($color-2, 0.15);
            }

            th {
              font-size: 0.65rem;
              color: mix($white, $color-2, 35%);
            }

            td {
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }

  &__table {
    width: 100%;
    margin: 0 0 3rem 0;

    &:last-child {
      margin-bottom: 0;
    }

    tr {

      th,
      td {
        padding: 0.5rem;
        border-bottom: 1px solid rgba($color-1, 0.1);
        text-align: center;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }

      td {
        &:first-child {
          font-weight: bold;
        }
      }
    }

    thead {
      tr {
        th {
          vertical-align: bottom;
          line-height: 1.1;
          color: mix($white, $color-2, 35%);
          font-size: 0.9em;
          font-weight: normal;
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background: mix($white, $color-2, 97%);
        }

        td {
          white-space: nowrap;
        }
      }
    }
  }
}

.o-layout-7 {
  position: relative;
  top: -2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;

  @include breakpoint(md) {
    top: -2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {}
}