// Set the variables to overrule the base variables
//$mobile-navigation-color: $white;
//$mobile-navigation-background: $color-1;

$black: #000;
$white: #fff;

$color-1: #5c5b56;
$color-2: #9b9889;

$body-color: mix($white, $color-1, 15%);
$line-height: 1.65;

$font-1: "Lato";
$font-2: "Oswald";

$padding-default: 1rem;

:root {
  --color-1: $color-1;
  --color-2: $color-2;
}
