// WooCommerce Styles

.woocommerce {
  position: relative;
  margin: 0;
  padding: 0;
  //overflow: hidden;
  //display: flex;
  //flex-direction: column;

  // @include breakpoint(lg) {
  //   flex-direction: row;
  // }

  #container {
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @include breakpoint(lg) {
      flex: 0 70%;
      order: 2;
      box-sizing: border-box;
    }
  }

  #sidebar {
    flex: 1;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    background: mix($white, $color-2, 95%);
    box-sizing: border-box;
    border-radius: $border-radius;

    @include breakpoint(lg) {
      margin-right: 4em;
      flex: 0 30%;
      //box-sizing: border-box;
      order: 1;
    }
  }

  .woocommerce-MyAccount-navigation {
    margin: 0;
    padding: 2em;
    background: mix($white, $color-2, 95%);
    border-radius: $border-radius;

    @include breakpoint(lg) {
      float: left;
      width: 30%;
      margin-right: 4em;
      box-sizing: border-box;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        padding-top: .35em;
        padding-bottom: .35em;
        border-bottom: 1px solid rgba($color-2, .15);

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }

        &.is-active {

          a {
            font-weight: bold;
          }
        }

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            color: $color-2;
          }
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    margin: 0;
    padding: 0;

    @include breakpoint(lg) {
      float: right;
      width: calc(70% - 4em);
    }
  }
}

.woocommerce-breadcrumb {
  margin-bottom: $spacing * 3;
  position: relative;
}

.woocommerce-message {
  font-weight: bold;
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  color: $white;
  background: $green;
  overflow: hidden;
  border-radius: $border-radius-default;
  border-left: .35em solid rgba($black, .25);

  .button {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    float: right;
    margin-left: 1em;
    color: $white;
    background: 0;
    border: 0;
    border-left: 1px solid rgba($white, .5);
    // TODO: Add right arrow with fontawewome
  }
}

.woocommerce-notice {
  font-weight: bold;
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  color: $white;
  background: $color-2;
  overflow: hidden;
  border-radius: $border-radius-default;
  border-left: .35em solid rgba($black, .25);

  &--success {
    //background: $green;
  }
}

.woocommerce-products-header {

  &__title {
  }

  .term-description {
    margin-bottom: 4em;
  }
}

.woocommerce-result-count {

  @include bp-l {
    float: left;
  }
}

.woocommerce-ordering {
  margin: 0;
  padding: 0;

  @include bp-l {
    float: right;
  }

  .orderby {
  }
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @include breakpoint(lg) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .onsale {
    font-weight: bold;
    position: absolute;
    left: .5em;
    top: .5em;
    margin: 0;
    padding: .5em;
    background: $red;
    line-height: 1;
    color: $white;
    border-radius: $border-radius-default;
    z-index: 10;
  }

  .images {
    flex: 0 40%;
    margin: 0;
    margin-right: 4em;
    padding: 0;
    box-sizing: border-box;

    .woocommerce-product-gallery__wrapper {
      margin: 0;
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      box-sizing: border-box;
      border: 1px solid mix($white, $color-1, 90%);
      border-radius: $border-radius-default;

      .woocommerce-product-gallery__image {
        margin: 0;
        margin-right: 1em;
        margin-top: 1em;
        padding: 0;
        flex: 0 calc(25% - (1em / 4));
        box-sizing: border-box;

        img {
          width: 100%;
          height: auto;
        }

        &:first-child {
          margin-top: 0;
          margin-right: 0;
          flex: 0 100%;
        }

        &:nth-child(5) {
          margin-right: 0;
        }
      }
    }
  }

  .summary {
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &.entry-summary {}

    .product_title {
      margin: 0;
      padding: 0;
    }

    .woocommerce-product-rating {
      margin: 0;
      margin-top: 1em;
      padding: 0;

      .star-rating {
        margin: 0;
        padding: 0;

        .rating {
          font-weight: bold;
        }
      }

      .woocommerce-review-link {
        margin: 0;
        padding: 0;

        .count {
        }
      }
    }

    .price {
      margin: 0;
      margin-top: 1em;
      padding: 0;
      font-size: 1.35em;

      del {
        color: $red;
        margin-right: 1em;
      }

      ins {
        font-weight: bold;
        text-decoration: none;
      }
    }

    .woocommerce-product-details__short-description {
      margin: 0;
      margin-top: 1em;
      padding: 0;
    }

    .stock {
      margin: 0;
      margin-top: 1em;
      padding: 0;
      font-weight: bold;

      &.in-stock {
        color: $green;
      }

      &.out-of-stock {
        color: $red;
      }
    }

    .cart {
      margin: 0;
      margin-top: 1em;
      padding: 0;
      // display: inline-flex;
      // flex-direction: row;
      // flex-wrap: wrap;

      &.variations_form {
        margin: 0;
        padding: 0;

        .variations {
          margin: 0;
          margin-top: 2em;
          margin-bottom: 2em;
          padding: 0;
          width: 100%;

          tbody {

            tr {

              td {

                &.label {
                  margin: 0;
                  padding: 0;
                  padding-top: .5em;
                  padding-right: 1em;
                  width: 1px;
                  white-space: nowrap;

                  label {
                    font-weight: bold;
                  }
                }

                &.value {
                  margin: 0;
                  padding: 0;
                  padding-top: .5em;

                  select {
                    width: auto;
                  }

                  .reset_variations {
                    margin-left: 1em;
                    font-size: .9em;
                    line-height: 1;
                  }
                }
              }
            }
          }
        }

        .single_variation_wrap {
          margin: 0;
          margin-top: 1em;
          padding: 0;
        }
      }

      .quantity {
        margin: 0;
        margin-right: 1em;
        padding: 0;
        float: left;
        //flex: 0 auto;

        input[type="number"] {
          @extend .button;
          background: 0;
          color: inherit;
          text-align: center;
          border-color: mix($white, $color-1, 75%);
          width: auto;
        }
      }

      .button {
        //flex: 0 auto;
      }
    }

    .product_meta {
      margin: 0;
      margin-top: 1.5em;
      padding: 0;
      font-size: .85em;

      .sku_wrapper {
        display: block;
      }

      .posted_in {
        display: block;
      }
    }
  }

  .woocommerce-tabs {
    flex: 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    margin-top: 4em;
    padding: 0;

    ul.tabs {
      flex: 0 auto;
      margin-right: 2em;
      margin-bottom: 2em;
      box-sizing: border-box;
      list-style: none;

      li {
        margin: 0;
        padding: 1em;
        padding-left: 2em;
        padding-right: 2em;
        border: 1px solid mix($white, $color-1, 90%);
        border-top: 0;
        border-left: 0;
        list-style-type: none;

        &:last-child {
          border-bottom: 0;
        }

        &.active {
          font-weight: bold;
          border-right: 0;

          a {
            color: inherit;
          }
        }

        a {
          text-decoration: none;
        }
      }
    }

    .wc-tab {
      flex: 1;
      box-sizing: border-box;

      &.woocommerce-Tabs-panel {

        &--description {
        }

        &--additional_information {

          .shop_attributes {
            margin: 0;
            padding: 0;
            width: 100%;

            tr {

              th {
                padding: 0;
                padding-right: 1em;
                width: 1px;
                white-space: nowrap;
              }

              td {
                padding: 0;
              }
            }
          }
        }

        &--reviews {

          .woocommerce-Reviews {}

          .woocommerce-Reviews-title {

            span {}
          }

          .commentlist {
            margin: 0;
            padding: 0;
            list-style: none;

            .comment {
              margin: 0;
              margin-top: 2em;
              padding: 0;
              padding-bottom: 2em;
              border-bottom: 1px solid mix($white, $color-1, 95%);

              &:first-child {
                margin: 0;
              }

              .comment_container {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;

                .avatar {
                  // TODO: Find a solution so the image does not distort
                  flex: 0 10%;
                  margin: 0;
                  margin-right: 1em;
                  padding: 0;
                  box-sizing: border-box;
                }

                .comment-text {
                  flex: 1;
                  box-sizing: border-box;
                  margin: 0;
                  padding: 0;

                  .star-rating {
                    margin: 0;
                    padding: 0;

                    .rating {
                    }
                  }

                  .meta {
                    margin: 0;
                    padding: 0;

                    .woocommerce-review {
                      margin: 0;
                      padding: 0;

                      &__author {}

                      &__dash {}

                      &__published-date {
                      }
                    }
                  }

                  .description {
                    margin: 0;
                    padding: 0;
                  }
                }
              }
            }
          }

          .comment-respond {
            margin: 0;
            margin-top: 2em;
            padding: 0;

            .comment-reply-title {
            }

            .comment-form {
              margin: 0;
              padding: 0;

              .comment-form-rating {
                margin: 0;
                padding: 0;
              }

              .comment-form-comment {
                margin: 0;
                padding: 0;
              }

              .form-submit {
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .related.products {
    flex: 1 100%;
    margin: 0;
    margin-top: $margin * 4;
    padding: 0;

    .products {
    }
  }

  .upsells.products {
    flex: 1 100%;
    margin: 0;
    margin-top: $margin * 4;
    padding: 0;

    .products {
    }
  }
}

ul.products {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  clear: both;
  overflow: hidden;

  @include breakpoint(lg) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    position: relative;
    margin: 0;
    margin-bottom: 2em;
    padding: 1em;
    flex: 1;
    border: 1px solid mix($white, $color-1, 90%);
    box-sizing: border-box;
    border-radius: $border-radius-default;

    @include breakpoint(lg) {
      $columns: 3;
      flex: 0 calc(((100% / #{$columns}) - 2em) + (2em / #{$columns}));
      margin-right: 2em;

      &:nth-child(#{$columns}n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 2em;
      }
    }

    &.product {
      position: relative;
      display: flex;
      flex-direction: column;

      a {
        position: relative;
        text-decoration: none;
        color: inherit;
        overflow: hidden;

        &.woocommerce-loop-product__link {
          margin: 0;
          margin-bottom: 1em;
          padding: 0;
          flex: 1 auto;
          box-sizing: border-box;
          width: 100%;

          .onsale {
            font-weight: bold;
            position: absolute;
            left: auto;
            right: .5em;
            top: .5em;
            margin: 0;
            padding: .5em;
            background: $red;
            line-height: 1;
            color: $white;
            border-radius: $border-radius-default;
            z-index: 10;
          }

          img {
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
            height: auto;
          }

          .woocommerce-loop-product__title {
            margin: 0;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 0;
            font-size: 1.20em;
            font-weight: bold;
            color: $color-2;
          }

          .star-rating {
            margin: 0;
            padding: 0;
          }

          .price {
            margin: 0;
            padding: 0;

            del {
              margin: 0;
              padding: 0;
              margin-right: 1em;
              color: $red;
            }

            ins {
              margin: 0;
              padding: 0;
              text-decoration: none;
            }

            .woocommerce-Price-amount {
              font-weight: bold;
              margin: 0;
              padding: 0;
            }
          }
        }

        &.button {
          flex: 0 auto;
          box-sizing: border-box;
          color: $white;
        }

        &.added_to_cart {
          @extend .button;
          flex: 0 auto;
          background: $green;
          border-color: $green;
          margin-top: .5em;
        }
      }

    }

    &.product-category {
      position: relative;

      a {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        img {
          flex: 0 auto;
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
          height: auto;
        }

        .woocommerce-loop-category__title {
          flex: 1;
          margin: 0;
          margin-top: 1em;
          padding: 0;
          font-size: 1.10em;
          color: $color-2;

          .count {
            background: 0;
            font-size: .9em;
            color: mix($white, $color-1, 50%);
          }
        }
      }
    }

    &.first {
    }
  }

}

// Cart Page

.woocommerce-cart-form {
  margin: 0;
  padding: 0;
  width: 100%;

  .shop_table {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid rgba($black, .05);
    border-radius: $border-radius-default;
    box-sizing: border-box;
    overflow: hidden;

    tr {

      th, td {
        padding: 1em;
      }

      th {}

      td {}
    }

    thead {

      tr {

        th {
          font-weight: bold;
          background: mix($white, $color-1, 96.5%);

          &.product-remove {
            width: 1px;
          }

          &.product-thumbnail {
            width: 1px;
          }

          &.product-name {}

          &.product-price {
            width: 1px;
          }

          &.product-quantity {
            width: 1px;
          }

          &.product-subtotal {
            width: 1px;
          }
        }
      }
    }

    tbody {

      tr {

        &.cart_item {

          td {
            background: mix($white, $color-1, 99%);

            &.product-remove {
              width: 1px;
            }

            &.product-thumbnail {
              min-width: 10rem;
              max-width: 10rem;

              img {
                width: 100%;
                height: auto;
              }
            }

            &.product-name {

              a {
                white-space: nowrap;
              }
            }

            &.product-price {
              width: 1%;
            }

            &.product-quantity {
              width: 1px;
            }

            &.product-subtotal {
              width: 1px;
            }
          }
        }

        td {

          &.actions {

            .coupon {
              float: left;
              margin: 0;
              display: inline-flex;
              flex-direction: row;
              flex-wrap: nowrap;

              label {
                display: none;
              }

              .input-text {
                border-radius: $border-radius-default;
              }

              input[type="submit"] {
                @extend .button;
                margin-left: .25em;
              }
            }

            input[type="submit"] {
              float: right;
            }
          }
        }
      }
    }
  }
}

.cart-collaterals {
  margin: 0;
  margin-top: $margin * 3;
  padding: 0;

  @include bp-l {
    margin-left: 50%;
  }

  .cart_totals {
    margin: 0;
    padding: 0;

    h2 {}

    .shop_table {
      margin: 0;
      padding: 0;
      width: 100%;
      border: 1px solid rgba($black, .05);
      border-radius: $border-radius-default;

      tbody {

        tr {

          &.cart-subtotal {}

          &.tax-rate {}

          &.shipping {}

          &.order-total {}

          th {
            padding: 1em;
            padding-right: 2em;
            width: 1%;
            background: mix($white, $color-1, 96.5%);
          }

          td {
            padding: 1em;
            text-align: right;
          }
        }
      }
    }

    .wc-proceed-to-checkout {
      margin: 0;
      margin-top: $margin * 2;
      padding: 0;

      .checkout-button {
        @extend .button;
        width: 100%;
        font-size: 1.25em;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
}

// Checkout Page

.checkout {
  position: relative;
  margin: 0;
  padding: 0;

  .col2-set {

    margin: 0;
    padding: 0;

    @include bp-l {
      float: left;
      width: 47.5%;
    }

    .col-1 {
      margin: 0;
      padding: 0;

      .woocommerce-billing-fields {

        &__field-wrapper {
          .form-row {

            label {

              .required {
                color: $red;
                text-decoration: none;
              }
            }

            .input-text {
            }
          }
        }
      }

      .woocommerce-account-fields {

        .create-account {

          label {
          }

          .input-text  {
          }
        }
      }
    }

    .col-2 {

      .woocommerce-shipping-fields {
        background: grey;

        .shipping_address {
          background: orange;
        }

        &__field-wrapper {
          background: green;

          // IDEA: It seems that this class is used in different places. Maybe it's better to make it higher accessible.
          .form-row {
            background: grey;

            label {
              background: green;

              .required {
                color: $red;
                text-decoration: none;
              }
            }

            .input-text {
              background: orange;
            }
          }
        }
      }

      .woocommerce-additional-fields {
        background: green;

        &__field-wrapper {
          background: orange;

          .form-row {
            background: grey;

            label {
              background: green;

              .required {
                color: $red;
                text-decoration: none;
              }
            }

            .input-text {
              background: orange;
            }
          }
        }
      }
    }
  }

  #order_review_heading {
    margin-top: 0;
    padding-top: 0;
    background: grey;

    @include bp-l {
      float: right;
      width: 47.5%;
      overflow: hidden;
    }
  }

  .woocommerce-checkout-review-order {
    margin: 0;
    padding: 0;

    @include bp-l {
      float: right;
      width: 47.5%;
      overflow: hidden;
    }

    .woocommerce-checkout-review-order-table {
      margin: 0;
      padding: 0;
      width: 100%;

      thead {

        tr {

          th {

            &.product-name {}

            &.product-total {}
          }
        }
      }

      tbody {

        tr {

          &.cart_item {

            td {

              &.product-name {

                .product-quantity {}
              }

              &.product-total {

                // IDEA: This seems to be used in other places. Maybe it's better to create a global css class.
                .woocommerce-Price-amount {

                  .woocommerce-Price-currencySymbol {}
                }
              }
            }
          }
        }
      }

      tfoot {

        tr {

          &.cart-subtotal {
            background: orange;
          }

          &.shipping {}

          &.order-total {
            background: pink;
          }
        }
      }
    }

    .woocommerce-checkout-payment {
      margin: 0;
      margin-top: 2em;
      padding: 0;

      .wc_payment_methods {
        margin: 0;
        padding: 0;
        list-style: none;

        .wc_payment_method {
          margin: 0;
          margin-bottom: 1em;
          padding: 0;

          .input-radio {}

          label {

            img {
              position: relative;
              margin: 0;
              padding: 0;
              height: 1em;
              width: auto;
              vertical-align: middle;
            }


          }

          .payment_box {
            margin: 0;
            padding: 0;

            p {
              font-size: .85em;
            }
          }
        }
      }
    }
  }
}

// Order Page

.woocommerce-order {
  position: relative;
  margin: 0;
  padding: 0;

  .woocommerce-thankyou-order-received {}

  .woocommerce-order-overview {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: $border-radius-default;
    overflow: hidden;
    border: 1px solid rgba($black, .05);
    border-spacing: 0;

    li {
      margin: 0;
      // TODO: See how we can calculate the padding when the global font size scope is .75em to keep the default font size to 1em for padding.
      padding: 1.33333em;
      padding-top: 1.75em;
      padding-bottom: 1.75em;
      background: mix($white, $color-1, 96.5%);
      border-bottom: 1px solid rgba($black, .035);
      font-size: .75em;
      font-weight: bold;
      text-transform: uppercase;
      color: mix($white, $color-1, 50%);

      &.order {
      }

      &.date {
      }

      &.email {
      }

      &.total {
      }

      &:last-child {
        border-bottom: 0;
      }

      strong {
        font-size: 1.33333em;
        display: block;
        text-transform: none;
        color: $color-1;
      }
    }
  }
}

.woocommerce-order-details {
  position: relative;
  margin: 0;
  margin-top: 4em;
  padding: 0;

  &__title {}

  .order_details {
    position: relative;
    display: table;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    border-spacing: 0;
    border: 1px solid rgba($black, .05);
    border-radius: $border-radius-default;
    overflow: hidden;

    tr {

      th, td {
        padding: 1em;
      }

      th {
        text-align: left;
        font-weight: bold;
      }

      td {}
    }

    thead {

      tr {

        th {
          background: mix($white, $color-1, 96.5%);

          &.product-name {}

          &.product-total {}
        }
      }
    }

    tbody {

      tr {

        &.order_item {
          background: mix($white, $color-1, 99%);

          td {

            &.product-name {

              a {
                text-decoration: none;
              }

              .product-quantity {}

              .wc-item-meta {
                margin: 0;
                padding: 0;
                color: mix($white, $color-1, 35%);
                list-style: none;

                li {
                  margin: 0;
                  padding: 0;

                  strong {
                    display: inline-block;
                    font-size: .85em;
                  }

                  p {
                    display: inline-block;
                    font-size: .85em;
                  }
                }
              }
            }

            &.product-total {}
          }
        }
      }
    }

    tfoot {

      tr {
        background: mix($white, $color-1, 96.5%);

        th {}

        td {}
      }
    }
  }
}

// Widgets

.widget {
  margin: 2em 0;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.widget_product_search {}

.widget_product_categories {
  margin: 0;
  padding: 0;

  .product-categories {
    margin: 0;
    padding: 0;
    list-style: none;

    .cat-item {
      margin: 0;
      padding: 0;
      padding-top: .35em;
      padding-bottom: .35em;
      border-bottom: 1px solid rgba($color-2, .15);

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $color-2;
        }
      }

      &.current-cat {

        a {
          font-weight: bold;
        }
      }

      &.current-cat-parent {

        > a {
          font-weight: bold;
        }
      }

      &.cat-parent {

        .children {
          margin: 0;
          margin-left: 1em;
          padding: 0;
          list-style: none;

          .cat-item {
            margin: 0;
            padding: 0;
            border-bottom: 0;
          }
        }
      }

      .count {
        font-size: .85em;
        color: rgba($color-1, .5)
      }
    }
  }
}
